.frame {
    /* display: flex; */
    background-color: white;
    width: 500px;
    padding-right: 20px;
    position: absolute;
    top: 100px;
}

.listItem {
    text-decoration-color: black;
}

.list {
}