.footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding: 0 0 10px 10px;
  font-family: "Helvetica Neue";
  opacity: 0.7;

  .clearCheckedButton {
    font-size: smaller;
    margin-right: 5px;
  }
}
